In [34]:
# REUTILIZANDO DATAFRAMES DA AULA ANTERIOR

import pandas as pd

filmes = ['O Senhor dos Anéis: A Sociedade do Anel', 'Matrix', 'Inception', 'Interstellar', 'Parasita']
anos = [2001, 1999, 2010, 2014, 2019]
meus_filmes = pd.DataFrame({
    'Filme': filmes,
    'Ano Filme': anos,
    'Nota Filme': [10, 9, 9.5, 9, 8.5]
})

series = ['Breaking Bad', 'Stranger Things', 'Game of Thrones', 'The Office', 'Friends']
anos_series = [2008, 2016, 2011, 2005, 1994]
notas_series = [10, 9, 8.5, 9, 8]
minhas_series = pd.DataFrame({
    'Série': series,
    'Ano Série': anos_series,
    'Nota Série': notas_series
})

animes = ['Naruto', 'Attack on Titan', 'Dragon Ball Z', 'One Piece', 'Avatar: The Last Airbender']
anos_animes = [2002, 2013, 1989, 1999, 2005]
notas_animes = [9, 9.5, 8.5, 9, 10]
meus_animes = pd.DataFrame({
    'Anime/Desenho': animes,
    'Ano Anime': anos_animes,
    'Nota Anime': notas_animes
})


df_concatenado = pd.concat([meus_filmes, minhas_series, meus_animes], axis=1)

# ✦ Use 3 dataframes criados na aula anterior, mostre apenas o filme/série/anime com maior pontuação.

In [22]:

maior_pontuacao = df_concatenado[(df_concatenado['Nota Filme'] > 9.00) | 
                            (df_concatenado['Nota Série'] > 9.00) | 
                            (df_concatenado['Nota Anime'] > 9.00)]

maior_pontuacao

,Filme,Ano Filme,Nota Filme,Série,Ano Série,Nota Série,Anime/Desenho,Ano Anime,Nota Anime
0,O Senhor dos Anéis: A Sociedade do Anel,2001,10.0,Breaking Bad,2008,10.0,Naruto,2002,9.0
1,Matrix,1999,9.0,Stranger Things,2016,9.0,Attack on Titan,2013,9.5
2,Inception,2010,9.5,Game of Thrones,2011,8.5,Dragon Ball Z,1989,8.5
4,Parasita,2019,8.5,Friends,1994,8.0,Avatar: The Last Airbender,2005,10.0

# ✦ Leia o arquivo do dataset em json.

In [38]:
# Criando novo dataset

dados = {
    'Título': [
        'O Senhor dos Anéis: A Sociedade do Anel', 'Matrix', 'Inception', 'Interstellar', 'Parasita',
        'Breaking Bad', 'Stranger Things', 'Game of Thrones', 'The Office', 'Friends',
        'Naruto', 'Attack on Titan', 'Dragon Ball Z', 'One Piece', 'Avatar: The Last Airbender'
    ],
    'Ano': [
        2001, 1999, 2010, 2014, 2019,
        2008, 2016, 2011, 2005, 1994,
        2002, 2013, 1989, 1999, 2005
    ],
    'Nota': [
        10, 9, 9.5, 9, 8.5,
        10, 9, 8.5, 9, 8,
        9, 9.5, 8.5, 9, 10
    ],
    'Tipo': [
        'Filme', 'Filme', 'Filme', 'Filme', 'Filme',
        'Série', 'Série', 'Série', 'Série', 'Série',
        'Anime', 'Anime', 'Anime', 'Anime', 'Anime'
    ]
}


df_midias = pd.DataFrame(dados)


# Gerando JSON
df_midias.to_json('midias.json')

df_midias = pd.read_json('midias.json')
df_midias

                                     Título   Ano  Nota   Tipo
0   O Senhor dos Anéis: A Sociedade do Anel  2001  10.0  Filme
1                                    Matrix  1999   9.0  Filme
2                                 Inception  2010   9.5  Filme
3                              Interstellar  2014   9.0  Filme
4                                  Parasita  2019   8.5  Filme
5                              Breaking Bad  2008  10.0  Série
6                           Stranger Things  2016   9.0  Série
7                           Game of Thrones  2011   8.5  Série
8                                The Office  2005   9.0  Série
9                                   Friends  1994   8.0  Série
10                                   Naruto  2002   9.0  Anime
11                          Attack on Titan  2013   9.5  Anime
12                            Dragon Ball Z  1989   8.5  Anime
13                                One Piece  1999   9.0  Anime
14               Avatar: The Last Airbender  2005  10.0  Anime

# ✦ Selecione apenas as 3 primeiras colunas do dataset

In [39]:
tres_colunas_df = df_midias.iloc[:, :3]
tres_colunas_df

                                     Título   Ano  Nota
0   O Senhor dos Anéis: A Sociedade do Anel  2001  10.0
1                                    Matrix  1999   9.0
2                                 Inception  2010   9.5
3                              Interstellar  2014   9.0
4                                  Parasita  2019   8.5
5                              Breaking Bad  2008  10.0
6                           Stranger Things  2016   9.0
7                           Game of Thrones  2011   8.5
8                                The Office  2005   9.0
9                                   Friends  1994   8.0
10                                   Naruto  2002   9.0
11                          Attack on Titan  2013   9.5
12                            Dragon Ball Z  1989   8.5
13                                One Piece  1999   9.0
14               Avatar: The Last Airbender  2005  10.0

# ✦ Selecione apenas as 10 primeiras linhas do dataset

In [40]:
dez_primeiras_linhas = df_midias.head(10)
dez_primeiras_linhas

                                    Título   Ano  Nota   Tipo
0  O Senhor dos Anéis: A Sociedade do Anel  2001  10.0  Filme
1                                   Matrix  1999   9.0  Filme
2                                Inception  2010   9.5  Filme
3                             Interstellar  2014   9.0  Filme
4                                 Parasita  2019   8.5  Filme
5                             Breaking Bad  2008  10.0  Série
6                          Stranger Things  2016   9.0  Série
7                          Game of Thrones  2011   8.5  Série
8                               The Office  2005   9.0  Série
9                                  Friends  1994   8.0  Série

# ✦ Utilize uma função para identificar o valor médio

In [43]:
df_media_notas = df_midias['Nota'].mean()
print(df_media_notas)

9.1

# ✦ Filtre o dataframe pegando apenas as linhas com valores maiores que essa média.

In [45]:
df_maiores_que_media = df_midias[df_midias['Nota'] > df_media_notas]
df_maiores_que_media

                                     Título   Ano  Nota   Tipo
0   O Senhor dos Anéis: A Sociedade do Anel  2001  10.0  Filme
2                                 Inception  2010   9.5  Filme
5                              Breaking Bad  2008  10.0  Série
11                          Attack on Titan  2013   9.5  Anime
14               Avatar: The Last Airbender  2005  10.0  Anime

# ✦ Escolha uma coluna com valores textuais e filtre o dataframe pelo 1º valor

In [53]:
df_primeiro_valor_textual = df_midias['Título'].iloc[0]
df_primeiro_valor_textual = df_midias[df_midias['Título'] == df_primeiro_valor_textual]
df_primeiro_valor_textual

                                    Título   Ano  Nota   Tipo
0  O Senhor dos Anéis: A Sociedade do Anel  2001  10.0  Filme

# ✦ Escolha uma coluna, como ano, titulo, etc e ordene seu dataframe tanto de forma crescente quanto decrescente

In [54]:
# Crescente
df_crescente = df_midias.sort_values(by=['Ano'], ascending=True)
df_crescente

                                     Título   Ano  Nota   Tipo
12                            Dragon Ball Z  1989   8.5  Anime
9                                   Friends  1994   8.0  Série
1                                    Matrix  1999   9.0  Filme
13                                One Piece  1999   9.0  Anime
0   O Senhor dos Anéis: A Sociedade do Anel  2001  10.0  Filme
10                                   Naruto  2002   9.0  Anime
8                                The Office  2005   9.0  Série
14               Avatar: The Last Airbender  2005  10.0  Anime
5                              Breaking Bad  2008  10.0  Série
2                                 Inception  2010   9.5  Filme
7                           Game of Thrones  2011   8.5  Série
11                          Attack on Titan  2013   9.5  Anime
3                              Interstellar  2014   9.0  Filme
6                           Stranger Things  2016   9.0  Série
4                                  Parasita  2019   8.5  Filme

In [57]:
# Decrescente
df_decrescente = df_midias.sort_values(by=['Ano'], ascending=False)
df_decrescente

                                     Título   Ano  Nota   Tipo
4                                  Parasita  2019   8.5  Filme
6                           Stranger Things  2016   9.0  Série
3                              Interstellar  2014   9.0  Filme
11                          Attack on Titan  2013   9.5  Anime
7                           Game of Thrones  2011   8.5  Série
2                                 Inception  2010   9.5  Filme
5                              Breaking Bad  2008  10.0  Série
14               Avatar: The Last Airbender  2005  10.0  Anime
8                                The Office  2005   9.0  Série
10                                   Naruto  2002   9.0  Anime
0   O Senhor dos Anéis: A Sociedade do Anel  2001  10.0  Filme
1                                    Matrix  1999   9.0  Filme
13                                One Piece  1999   9.0  Anime
9                                   Friends  1994   8.0  Série
12                            Dragon Ball Z  1989   8.5  Anime